{% extends 'layout/base.html.twig' %}

{% block title %}
	{{ post.title }} - {{ parent() }}
{% endblock %}

{% block content %}
	<h2 class="page-header">{{ post.title }}</h2>

	{% include 'AppBundle:blog:_post_info.html.twig' %}

	<div class="panel panel-default">
		<div class="panel-body panel-post">
			<blockquote>
				{{ post.text|raw|nl2br }}
			</blockquote>
		</div>
	</div>
{% endblock %}
